---
layout: default
---

<div class="blog-index">
  <div class="container">
    <h1>博客</h1>
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <div class="post-meta">
          <time>{{ post.date | date: "%Y年%m月%d日" }}</time>
          {% if post.category or post.categories.size > 0 %}
          <span class="meta-sep"> · </span>
          {% if post.category %}
          <a href="{{ '/categories/' | relative_url }}#cat-{{ post.category | slugify }}" class="post-category">{{ post.category }}</a>
          {% elsif post.categories.size > 0 %}
          {% for cat in post.categories %}
          <a href="{{ '/categories/' | relative_url }}#cat-{{ cat | slugify }}" class="post-category">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          {% endif %}
          {% endif %}
          {% if post.tags.size > 0 %}
          <span class="meta-sep"> · </span>
          {% for tag in post.tags %}
          <a href="{{ '/tags/' | relative_url }}#tag-{{ tag | slugify }}" class="post-tag">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
          {% endfor %}
          {% endif %}
          {% if post.excerpt %}
          <p class="excerpt">{{ post.excerpt | strip_html | truncate: 120 }}</p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
